@using Microsoft.AspNet.Identity
@if (Session["usuarioLogado"]!=null)
{
    using (Html.BeginForm("Logout", "Usuarios", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Dashboar   Bem vindo(a) " + Session["usuarioLogado"] + "!", "Index", "Dashboards", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Entrar", "Index", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
       
    </ul>
}
