@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Candidato limpo</h1>
    <p class="lead">Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo</p>
    <p><a  class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Candidato limpo 1</h2>
        <p>
            Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo
        </p>
        <p><a class="btn btn-default" >Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candidato limpo 2</h2>
        <p>Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo</p>
        <p><a class="btn btn-default" >Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candidato limpo 3</h2>
        <p>Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo.</p>
        <p><a class="btn btn-default" >Leia mais &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Candidato limpo 4</h2>
        <p>
            Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo
        </p>
        <p><a class="btn btn-default">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candidato limpo 5</h2>
        <p>Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo</p>
        <p><a class="btn btn-default">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candidato limpo 6</h2>
        <p>Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo.</p>
        <p><a class="btn btn-default">Leia mais &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Candidato limpo 7</h2>
        <p>
            Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo
        </p>
        <p><a class="btn btn-default">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candidato limpo 8</h2>
        <p>Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo</p>
        <p><a class="btn btn-default">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candidato limpo 9</h2>
        <p>Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo.</p>
        <p><a class="btn btn-default">Leia mais &raquo;</a></p>
    </div>
</div>