@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Candidato limpo</h1>
    <p class="lead">Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo</p>
    <p><a  class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>


<h2>DASHBOARD</h2>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.robsonpiresxerife.com/wp-content/uploads/2012/09/vereador-250x239.jpg" alt="CONSULTAR VEREADORES">
            <div class="caption">
                <h3>CONSULTAR VEREADORES</h3>
                <p>Clique para fazer uma consulta dos vereadores da cidade escolhida </p>
                <p><a href="/Vereadors/Index" class="btn btn-primary" role="button">Pesquisar</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://mundoeducacao.bol.uol.com.br/upload/conteudo_legenda/d2624f4578d74516ada5b12ea122c4ec.jpg" alt="CONSULTAR PREFEITOS">
            <div class="caption">
                <h3>CONSULTAR PREFEITOS</h3>
                <p>Clique para fazer uma consulta dos prefeitos da cidade escolhida </p>
                <p><a href="/Prefeitoes/Index" class="btn btn-primary" role="button">Pesquisar</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.acordacidade.com.br/fotos/p/1689-3.jpg" alt="CONSULTAR ELEITORES">
            <div class="caption">
                <h3>CONSULTAR ELEITORES</h3>
                <p>Clique para fazer uma consulta dos eleitores da cidade escolhida </p>
                <p><a href="/PerfilEleitors/Index" class="btn btn-primary" role="button">Pesquisar</a></p>
            </div>
        </div>
    </div>
</div>
