@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Candidato limpo</h1>
    <p class="lead">Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo Candidato limpo</p>
    <p><a  class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

